.yellowBackground{
    background-color: #af8c38 !important;
}
.red{
    color:red !important;
}
.Btn-fixed-width{
    width: 160px;
}
.tableName{
    color: #ffffff;
}
.tab-pad{
    padding-right: 30px;
    padding-left: 30px;
}
.modal-padding{
    padding: 21px;
}
.tab-margin-Bo{
    margin-bottom: 13px;
}
.border-red{
    border: 1px solid #4276a4e6;
    margin-bottom: 13px;
}
.title-red{
    background-color: #4276a4e6;
}
.border-g{
    border: 1px solid #51bab3;
    margin-bottom: 13px;
}
.title-g{
    background-color: #51bab3;
}
.border-por{
    border: 1px solid #937ABE;
    margin-bottom: 13px;
}
.title-por{
    background-color: #937ABE;
}
.primaryUser-color{
    border: 1px solid #747f8c; background-color: #747f8c; color: #49413d;
}
.back-icon{
    font-size: 24px;
}
.genderSpace{
    padding-left: 5px;
}
.fontSize{
    font-size: 15px
}
.rowsSpace{
    padding-bottom: 8px;
}
.thanksPosition{
    float: left;
    padding-left: 155px;
}
.hr-border{
    border-top: 4px solid #d5d1d1;
}
.popup{
    padding: 0px !important;
}
.saveBtn{
    font-size: 14px;
    width: 40%;
    background-color: #428bca;
    color: #ffffff;
}
.removeBtn{
    background-color: #f25b5b;
}
.site-font{
    font-family: 'Tajawal', sans-serif;font-size: 16px;

}
#divColor{
    background-color:#428bca ;
}
.RedBackground{
    background-color:#f25b5b;
}
.greenHazeBackground {
    background-color: #338983 !important;
}
.viewT{
    color:#fff;text-align: center;font-family: 'Tajawal', sans-serif;font-size: 16px;
}
.add{
    text-align: left;
    float: left;
}
.footerL{

    float: left;
}
.text-green{
    color:green !important;
}

.text-white{
    color: white !important;
}
.text-blue{
    color: blue !important;
}

.text-green-haze{
    color: #45b6af;
}
.expense-box{
border: 1px dashed black;
border-radius: 5px !important;
padding: 40px 40px 40px 0;
}
.expense-box-2{
    border: 1px dashed black;
    border-radius: 5px !important;
    padding: 10px 10px 10px 0;
}
.expense-box-col-size{
     width: 92%;
     height: 40px;
}
.expense-box2 {
    border: 1px dashed black;
    border-radius: 5px !important;
    padding: 20px 40px 20px 0;
    margin-top: 40px;
}
.whiteBg{
    background-color:white;
}


/** company data **/
.sliver-data{
    background-color: silver !important;
    color: black !important;
    margin-top: -9px;
    text-align: center;
}
.invoice-input{
    width:35px;
    background: silver;
    color: black;
    text-align: center;
    border: 0px;
}

.details-ar{
    color: white !important;
}
.border-none{
    border: none !important;
}

.card-text {
    font-size: 17px; margin:-8px -9px -13px -9px;  border:0px solid black; border-bottom-right-radius:15px; border-bottom-left-radius:15px;
    padding:8px 0px 12px 0px; color:black; text-decoration: none;
    background:#F6F6F6;
}
.product-border {
    border:0px solid black; border-bottom-right-radius:15px; border-bottom-left-radius:15px;
}

 .resources-list {
     margin-top: 15px;
     padding: 0;
     list-style: none;
 }
.resources-list li {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 10px 40px 10px 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    position: relative;
}
.resources-list li:last-child {
    border-bottom: none;
}
.resources-list li .resource-title {
    font-size: 1em;
    color: #333;
}
.resources-list li .version {
    opacity: 0.7;
    margin-left: 5px;
    font-size: 75%;
}
.resources-list li .resource-description,
.resources-list li .resource-url {
    font-size: 0.8em;
    color: #999;
    margin-top: 5px;
}
.resources-list li .resource-url {
    margin-top: 0;
}
.resources-list li .resource-description:empty {
    display: none;
}
.resources-list li .delete-controls {
    position: absolute;
    right: 0;
    width: 40px;
    text-align: center;
    color: #999;
    cursor: pointer;
}
.resources-list li .delete-controls:hover,
.resources-list li .delete-controls:focus {
    color: red;
}


#printBillModal{
    display: none;
}
@media screen {
    #print {
        display: none;
    }
}

@media print {
    body * {
        visibility:hidden;
    }
    #print, #print * {
        visibility:visible;
    }
    #print {
        position:absolute;
        left:0;
        top:0;
        width: 100% !important;
        height:100% !important;
    }
    #printBillModal{
        display: block;

    }
}


.table-wrapper-scroll-y {
    display: block;
    max-height: 100px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}